@charset "utf-8";
@import url("reset.css");
@import url("font.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: black;
}
body{
  font-family: "notosans",sans-serif;
}
.wrap {
  width: 1920px;
  margin: 0 auto;
  position: relative;
}
header {
  width: 1920px;
  height: 100px;
  /* background-color: #78ACD1; */
  margin: 0 auto;
  position: fixed;
  z-index: 99999;
}
.head {
  width: 1920px;
  height: 100px;
  background-color: rgba(120, 172, 209, 0.9);
  position: relative;
}
.head .logo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 236px;
}
.head .logo img {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 5px;
}
.head .nav {
  /* background-color: coral; */
  width: 500px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 236px;
}
.nav-li {
  width: calc(500px / 4);
  height: 100px;
  float: left;
  text-align: center;
  line-height: 100px;
  color: white;
  font-weight: 700;
}
.img-slide {
  width: 100%;
  height: 930px;
  position: relative;
}
.main-bg {
  background: url("../images/visual06.jpg") no-repeat center;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.card {
  width: 496px;
  height: 352px;
  background-color: rgba(19, 122, 180, 0.7);
  position: absolute;
  bottom: 0;
  left: 180px;
}
.card h2 {
  color: #66bbeb;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  top: 33px;
  left: 45px;
}
.card h2::after {
  content: "";
  width: 347px;
  height: 2px;
  background-color: #66bbeb;
  position: absolute;
  top: 36px;
  left: 33.5px;
}
.card h1 {
  color: white;
  font-size: 40px;
  font-weight: 600;
  position: absolute;
  top: 89px;
  left: 45px;
  line-height: normal;
}
.card p {
  color: white;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  top: 203px;
  left: 45px;
  line-height: normal;
}
.bt-open {
  width: 180px;
  height: 34px;
  color: white;
  font-size: 19px;
  font-weight: 500;
  text-align: center;
  line-height: 10px;
  /* background: url("../images/vis_right.png") no-repeat right; */
  background-size: 10px;
  padding: 10px;
  background-color: #6fc0f1;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 282px;
  left: 45px;
}
.clubnews {
  width: 100%;
  height: 1240px;
  /* background-color: antiquewhite; */
}
.news-header {
  font-size: 100px;
  font-weight: lighter;
  text-align: center;
  padding: 54px;
}
.news-header b{
  font-weight: 700;
}
.news-box {
  width: 1560px;
  height: 940px;
  border-top: 3px solid #d9d9d9;
  border-bottom: 3px solid #d9d9d9;
  margin: 0 auto;
  position: relative;
  display: flex;
}
.main-news {
  width: 780px;
  height: 940px;
  /* border-right: 3px solid #D9D9D9; */
  position: relative;
}
.news1{
  width: 700px;
  height: 668px;
}
.news1-img{
  background: url("../images/news1.jpg") no-repeat center;
  width: 700px;
  height: 668px;
  background-size: cover;
  position: absolute;
  top: 45px;
  left: 40px;
}
.main-news p {
  font-size: 13px;
  font-weight: 500;
  color: #6fc0f1;
  position: absolute;
  bottom: 188px;
  left: 40px;
}
.main-news h2 {
  font-size: 28px;
  font-weight: 600;
  position: absolute;
  bottom: 133px;
  left: 40px;
}
.main-news span {
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  bottom: 53px;
  left: 40px;
}


.sub-news {
  width: 780px;
  display: flex;
  flex-direction: column;
}
.sub-news p {
  color: #6fc0f1;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  top: 316px;
  left: 40px;
}
.sub-news h2 {
  font-size: 17px;
  font-weight: 600;
  position: absolute;
  top: 346px;
  left: 40px;
  line-height: normal;
}
.sub-news span {
  font-size: 17px;
  font-weight: 300;
  position: absolute;
  bottom: 42px;
  left: 40px;
}
.sub-top {
  width: 780px;
  height: 470px;
  display: flex;
  border-bottom: solid 3px #d9d9d9;
}
.sub-bottom {
  width: 780px;
  height: 470px;
  display: flex;
}
.news-top {
  width: 390px;
  height: 470px;
  border-left: solid 3px #d9d9d9;
  position: relative;
}
.news-top img {
  width: 310px;
  height: 250px;
  position: absolute;
  top: 43px;
  left: 40px;
  object-fit: cover;
}
.news-bottom {
  width: 390px;
  height: 467px;
  border-left: solid 3px #d9d9d9;
  position: relative;
}
.news-bottom .news4 {
  width: 310px;
  height: 250px;
  position: absolute;
  top: 43px;
  left: 40px;
  object-fit: contain;
}
.news-bottom .news5 {
  width: 310px;
  height: 250px;
  position: absolute;
  top: 43px;
  left: 40px;
  object-fit: cover;
}
.pl-info {
  background: url("../images/playerinfo.jpg") no-repeat;
  background-size: cover;
  height: 757px;
  position: relative;
}
.info {
  width: 710px;
  height: 650px;
  /* background-color: chocolate; */
  position: absolute;
  top: 83px;
  right: 200px;
}
.info h3 {
  font-size: 55px;
  font-weight: 700;
  color: white;
  padding: 10px 7px;
  width: 80px;
  height: 80px;
  background-color: #137ab4;
}
.info h1 {
  font-size: 90px;
  font-weight: 700;
  color: white;
  position: absolute;
  top: -5px;
  left: 130px;
}
.info p {
  font-size: 20px;
  font-weight: 500;
  color: white;
  line-height: normal;
  position: absolute;
  top: 200px;
  left: 130px;
}
.info span {
  font-size: 20px;
  font-weight: 700;
  color: #ffe500;
  position: absolute;
  top: 300px;
  left: 130px;
}
.pl-st {
  width: 520px;
  height: 125px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 180px;
  right: 290px;
}
.pl-st p {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.pl-st h1 {
  font-size: 70px;
  font-weight: 600;
  margin-top: 15px;
  text-align: center;
}
.pl-st li {
  padding-left: 40px;
  padding-right: 40px;
}
.pl-st li:nth-child(2) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.pl-info .infobt-left {
  width: 200px;
  height: 40px;
  color: white;
  font-size: 19px;
  font-weight: 500;
  text-align: center;
  line-height: 25px;
  /* background: url("../images/vis_right.png") no-repeat right; */
  background-size: 10px;
  padding: 10px;
  background-color: #6fc0f1;
  border: none;
  position: absolute;
  bottom: 80px;
  right: 570px;
}
.pl-info .infobt-right {
  width: 200px;
  height: 40px;
  color: white;
  font-size: 19px;
  font-weight: 500;
  text-align: center;
  line-height: 25px;
  /* background: url("../images/vis_right.png") no-repeat right; */
  background-size: 10px;
  padding: 10px;
  background-color: #137ab4;
  border: none;
  position: absolute;
  bottom: 80px;
  right: 330px;
}
.notice {
  background: url("../images/mcont5_bg.jpg");
  height: 794px;
  position: relative;
}
.notice-top {
  width: 1560px;
  height: 245px;
  /*  background-color: darkgray; */
  position: absolute;
  top: 68px;
  left: 180px;
}
.nt-left {
  width: 295px;
  height: 245px;
  float: left;
}
.nt-left h1 {
  font-size: 50px;
  font-weight: 700;
  color: white;
  margin: 40px 0;
}
.nt-left p {
  font-size: 20px;
  font-weight: 400;
  color: white;
  line-height: normal;
}
.nt-right {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.nt-right li {
  width: 295px;
  height: 245px;
  background-color: white;
  float: left;
  position: relative;
}
.nt-right li .blue {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 30px;
  color: #1664c0;
  width: 110px;
  height: 34px;
  border: 1px solid #1664c0;
  position: absolute;
  top: 30px;
  left: 90px;
}
.nt-right li p {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 30px;
  color: #e07900;
  width: 110px;
  height: 34px;
  border: 1px solid #e07900;
  position: absolute;
  top: 30px;
  left: 90px;
}
.nt-right h2 {
  width: 210px;
  height: 120px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  line-height: 23px;
  padding-top: 25px;
  position: absolute;
  top: 67px;
  left: 46px;
}
.nt-right span {
  position: absolute;
  bottom: 40px;
  left: 105px;
  color: #a8a8a8;
}
.notice-bottom {
  width: 1560px;
  height: 320px;
  /* background-color: crimson; */
  position: absolute;
  bottom: 102px;
  left: 180px;
}
.bottom-left {
  width: 762px;
  height: 320px;
  background-color: #c7c7c7;
  position: relative;
}
.bottom-left .ticket {
  background: url("../images/mcont5_bg01.jpg") no-repeat;
  width: 252px;
  height: 318px;
  background-size: cover;
  position: absolute;
  top: 1px;
  left: 1px;
  color: white;
}
.bottom-left .ticket h1 {
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  top: 125px;
  left: 50%;
  transform: translateX(-50%);
}
.bottom-left .ticket p {
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 165px;
  left: 50%;
  transform: translateX(-50%);
}
.bottom-left .schedule {
  background: url("../images/mcont5_bg02.jpg") no-repeat;
  width: 252px;
  height: 318px;
  background-size: cover;
  position: absolute;
  top: 1px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
.bottom-left .schedule h1 {
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  top: 125px;
  left: 50%;
  transform: translateX(-50%);
}
.bottom-left .schedule p {
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 165px;
  left: 50%;
  transform: translateX(-50%);
}
.bottom-left .players {
  background: url("../images/mcont5_bg03.jpg") no-repeat;
  width: 252px;
  height: 318px;
  background-size: cover;
  position: absolute;
  top: 1px;
  right: 1px;
  color: white;
}
.bottom-left .players h1 {
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  top: 125px;
  left: 50%;
  transform: translateX(-50%);
}
.bottom-left .players p {
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 165px;
  left: 50%;
  transform: translateX(-50%);
}
.bottom-right {
  width: 762px;
  height: 320px;
  position: absolute;
  top: 0;
  right: 0;
}
.stadium {
  background: url("../images/mcont5_bg05.jpg") no-repeat;
  width: 762px;
  height: 320px;
  background-size: cover;
  position: relative;
}
.stadium h1 {
  font-size: 42px;
  font-weight: 700;
  color: white;
  position: absolute;
  top: 36px;
  left: 50%;
  transform: translateX(-50%);
}
.stadium-info {
  display: flex;
  justify-content: space-around;
  color: white;
}
.stadium-info li{
  width: 200px;
  height: 120px;
display: flex;
flex-direction: column;
align-items: center;
}
.stadium-info li h2{
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  top: 120px;
}  
.stadium-info li p{
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  bottom: 88px;
  text-align: center;
  line-height: normal;
}
.stadium .stbt-left {
  width: 164px;
  height: 38px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 20px;
  /* background: url("../images/vis_right.png") no-repeat right; */
  background-size: 10px;
  padding: 10px;
  background-color: #6fc0f1;
  border: none;
  position: absolute;
  bottom: 16px;
  left: 210px;
}
.stadium .stbt-right {
  width: 164px;
  height: 38px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 20px;
  /* background: url("../images/vis_right.png") no-repeat right; */
  background-size: 10px;
  padding: 10px;
  background-color: #137ab4;
  border: none;
  position: absolute;
  bottom: 16px;
  right: 210px;
}
footer{
  width: 1920px;
  height: 264px;
  background-color: #07212D;
  position: relative;
}
.ft-top{
  width: 816px;
  height: 36px;
  position: absolute;
  top: 43px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}
.ft-top img{
  margin-right: 10px;
}
.ft-top a{
  color: white;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.ft-middle{
  width: 610px;
  height: 20px;
  position: absolute;
  bottom: 122px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}
.ft-middle a{
  color: white;
  font-size: 16px;
  font-weight: 400;

}
.ft-bottom{
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-align: center;
  line-height: normal;
  position: absolute;
  bottom: 38px;
  left: 50%;
  transform: translateX(-50%);
}